@import '../../styles/helpers/variables';
@import '../../styles/base/fonts';

:host {
    display: block;
    position: fixed;
    width: 100%;
    height: $secondnav-width;
    grid-column: 1/3;
    border-bottom: 1px solid rgb(192, 191, 191);
    background-color: red;
}

.navbar {
    position: fixed;
    width: 100%;
    height: $secondnav-width;
    grid-column: 1/3;
}

.navbar-custom {
    background-color: rgb(101, 150, 243);
}

p{
    display: block;
}