<div class="main-content">
    <div class="header">
        <h1 class="title1">Registro de usuario</h1>
        <img (click)="closeModal()" class="close-icon" src="../../assets/icons/x-circle.svg" alt="close">
    </div>

    <div class="input-content">
        <div>
            <label for="username">Nombre de usuario</label>
            <input id="username" class="inp" type="text" placeholder="Nombre de usuario" />
        </div>
        <div>
            <label for="email">Email</label>
            <input id="email" class="inp" type="email" placeholder="Email" />
        </div>
        <div>
            <label for="nombre">Nombre</label>
            <input id="nombre" class="inp" type="text" placeholder="Nombre" />
        </div>
        <div>
            <label for="apellido">Apellido</label>
            <input id="apellido" class="inp" type="text" placeholder="Apellido" />
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input id="password" class="inp" type="password" placeholder="contraseña" />
        </div>
        <div>
            <label for="con-password">Confirmar contraseña</label>
            <input id="con-password" class="inp" type="password" placeholder="contraseña" />
        </div>
        <input id="send" class="btn-primary btn" type="submit" value="Registrar" (click)="sendData()" />
    </div>
</div>