<div class="card">
    <div class="cardheader">
        <p class="cardtitle">Agregar</p>
        <button class="btnclose"><img src="../../../assets/png/icono_cerrar.png" class="imgclose"></button>
    </div>
    <div class="usrinput">
        <div class="inputcont">
            <div>
                <label for="firstName" class="lbl">name</label>
                <input type="text" id="firstName" class="usrfld">
            </div>
            <div>
                <label for="lastName" class="lbl">lastName</label>
                <input type="text" id="lastName" class="usrfld" maxlength="45">
            </div>
            <div>
                <label for="location" class="lbl">location</label>
                <input type="text" id="location" class="usrfld" maxlength="90">
            </div>
            <div>
                <label for="phone" class="lbl">Celular</label>
                <input type="text" id="phone" class="usrfld" maxlength="10">
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn acceptbtn">Agregar</button>
            <button class="btn cancelbtn">Cancelar</button>
        </div>
    </div>
</div>