:host {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.acceptbtn:disabled {
    background-color: rgb(151, 182, 245);
}

.card {
    background-color: white;
    border-radius: 10px;
    width: 32%;
    padding: 1.5em 1em;
    box-sizing: content-box;
}

.cardheader {
    margin: 0 auto;
    padding-left: 15%;
    padding-right: 5%;
    margin-bottom: 1.7em;
}

.cardtitle {
    font-weight: bold;
    font-size: 1.5em;
    display: inline-block;
    width: 88%;
    text-align: center;
}

.btnclose {
    background-color: white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: inline;
    border: none;
    cursor: pointer;
}

.imgclose {
    width: 70%;
}

.usrinput {
    margin: 0 auto;
    border-top: 2px solid rgb(217, 217, 217);
    width: 90%;
}

.inputcont {
    margin-top: 2em;
    /* width: 20%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inputcont div {
    flex-basis: 50%;
}

.lbl {
    font-weight: bold;
    font-size: 0.9em;
    display: block;
    margin-bottom: 0.5em;
}

.usrfld {
    outline: none;
    background-color: rgb(235, 235, 235);
    border: none;
    border-radius: 30px;
    height: 2.2em;
    margin: 0 auto;
    width: 95%;
    font-size: 1em;
    box-sizing: border-box;
    padding-left: 0.7em;
    margin-bottom: 1em;
}

.gendercont {
    margin-bottom: 2em;
}

.gendercont div {
    display: inline;
}

.genderlbl {
    display: inline;
}

.form-actions {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    font-size: 0.9em;
    padding: 0.6em 1em;
    border-radius: 5px;
    border: none;
}

.acceptbtn {
    background-color: rgb(65, 125, 241);
    color: white;
    font-weight: bold;
    font-weight: bold;
    margin-bottom: 0.5em;
    box-shadow: 1px 1px 2px gray;
}

.acceptbtn:hover:enabled {
    background-color: rgb(153, 181, 238);
    box-shadow: none;
    cursor: pointer;
}

.cancelbtn {
    background-color: white;
    color: rgb(65, 125, 241);
    text-decoration: underline;
}

.cancelbtn:hover {
    background-color: rgb(199, 210, 233);
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 991.98px) {
    .cardheader {
        padding-right: 0%;
        margin-bottom: 0.8em;
    }
    .cardtitle {
        font-size: 1.3em;
        width: 80%;
    }
    .inputcont {
        flex-direction: column;
        margin-top: 1em;
    }
    .lbl {
        margin-bottom: 0.3em;
        padding-left: 0.2em;
        font-size: 0.8em;
    }
    .inputcont {
        width: 80%;
    }
    .gendercont {
        margin: 0 auto;
        margin-bottom: 1.5em;
        display: flex;
        justify-content: space-around;
        padding-right: 1em;
        align-items: center;
    }
    .usrfld {
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .cardheader {
        padding-right: 0%;
        margin-bottom: 0.5em;
    }
    .cardtitle {
        font-size: 1.2em;
        width: 75%;
    }
}

@media (max-width: 575.98px) {
    .cardheader {
        padding-right: 0%;
        margin-bottom: 0.5em;
    }
    .cardtitle {
        font-size: 1.2em;
        width: 75%;
    }
}