<div><img #menubtn class="collapsible" src="../../assets/icons/list.svg" alt=""></div>

<ul #options class="list-options">
    <a (click)="notify.emit('media')">
        <li class="navbar-option main-font"> Media </li>
    </a>
    <a (click)="notify.emit('subir')">
        <li class="navbar-option main-font">Subir</li>
    </a>
    <a (click)="notify.emit('users')">
        <li class="navbar-option main-font"> Users </li>
    </a>
    <li class="navbar-option main-font" (click)="closeSesion()">Cerrar sesión</li>
</ul>